@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap');

* {
    /* border: 0.1px solid black; */
    box-sizing: border-box !important;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

::-webkit-scrollbar-track {
    background: #f8eded80;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 78, 122);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 45, 90);
}


.taipy-watermark {
    display: none;
}

.taipy-dark, .taipy-light {
    min-height: 100vh;
}

#root {
    height: auto;
    margin: 0 !important;
}

html, body {
    height: auto;
}

.css-7g81c7 {
    background-color: #fff;
}

.container {
    background: #fff;
    width: 100%;
    height: 25vh;
    /* border-bottom: 1px solid black; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan-container, .slogan-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.section > * {
    display: block;
    width: 80%;
    padding: 32px;
}

.d-block {
    /* padding-top: 25vh; */
}

#section-1, #section-3 {
    background-color: #fbcedfff;
    padding-right: 60px;
}

#section-2 {
    background-color: #fff;
    text-align: right;
    padding-left: 60px;
}

#section-1, #section-2 {
    height: 37.5vh;
}

#section-3 {
    height: 25vh;
}

.heading {
    font-size: 32px;
    font-weight: bolder;
    color: #b3002e;
}

.heading, .paragraph {
    display: inline-block;
}


.injury {
    height: 75vh;
}

.injury * {
    /* border: 1px solid black; */
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* width: 15%; */
}
.select > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.small_image {
    border-radius: 10px;
    width: 80%;
    padding: 0;
    margin: 35px 0 -9px;
    background-color: #f1f1f1;
}

.diagram > * {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 75vh;
}

.big_image {
    margin-top: 35px;
    border: 1px solid rgba(255, 96, 73, 0.5);
    border-radius: 20px;
    width: 530px;
    height: 420px;
    object-fit: contain;
}

.taipy-button {
    position: absolute;
    border-radius: 100%;
    border-color: transparent;
    background-color: rgba(255, 96, 73, 0.7);
    font-size: 0;
    padding: 0;
    min-width: 30px;
    min-height: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 0.5s ease;
}
.taipy-button:hover, .taipy-button:focus {
    background-color: rgba(202, 55, 36, 0.8);
    transform: scale(1.2);
    border-color: transparent;
}


.info {
    margin: 35px 12px 0;
    border: 1px solid hsla(8, 100%, 64%, 0.5);
    border-radius: 20px;
    height: 420px;
    overflow-y: scroll;
    color: black;
    padding: 10px;
}

.info > :nth-child(1) {
    text-align: center;
}
.info > :nth-child(1) span {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
}

.info > :nth-child(2) {
    margin-bottom: 6px;
}
.info > :nth-child(2) span:nth-child(1) {
    font-weight: 600;
}

.info > :nth-child(3) {
    text-align: center;
}
.info > :nth-child(3) span {
    font-size: 20px;
    font-weight: 600;
}

.info > :nth-child(4) {
    font-weight: 600;
}
.info > :nth-child(6) {
    font-weight: 600;
}
.info > :nth-child(8) {
    font-weight: 600;
}
.info > :nth-child(10) {
    font-weight: 600;
}

.info > :nth-child(5) {
    margin-bottom: 3px;
}
.info > :nth-child(7) {
    margin-bottom: 3px;
}
.info > :nth-child(9) {
    margin-bottom: 3px;
}


.s0 {
    top: 356px;
    left: 330px;
}


.s1 {
    top: 280px;
    left: 410px;
}


.s2 {
    top: 280px;
    left: 480px;
}


.s3 {
    top: 210px;
    left: 400px;
}


.s4 {
    top: 350px;
    left: 230px;
}


.s5 {
    top: 304px;
    left: 440px;
}


.s6 {
    top: 340px;
    left: 460px;
}


.s7 {
    top: 210px;
    left: 455px;
}

.s8, .s9, .s10 {
    display: none;
}


.t0 {
    top: 80px;
    left: 435px;
}


.t1 {
    top: 103px;
    left: 440px;
}


.t2 {
    top: 180px;
    left: 460px;
}


.t3 {
    top: 140px;
    left: 390px;
}


.t4 {
    top: 210px;
    left: 425px;
}


.t5 {
    top:100px;
    left: 400px;
}


.t6 {
    top: 360px;
    left: 240px;
}


.t7 {
    top: 140px;
    left: 240px;
}


.t8 {
    top: 160px;
    left: 200px;
}


.t9 {
    top: 200px;
    left: 240px;
}


.t10 {
    top: 280px;
    left: 240px;
}